// css footer
.footer {
  background-color: $black-cl;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  &__copyright,
  &__backtotop {
    color: #b0b0b0;
    font-size: 1.2rem;
    font-family: pb;
    line-height: 83px;
  }
  &__backtotop {
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
      color: $yellow-cl;
    }
  }

  @include sm {
    .container {
      display: initial;
      justify-content: center;
    }
    &__copyright,
    &__backtotop,
    &__logo {
      text-align: center;
    }
  }
}
